################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/TP TAD/v15/ipch/a3040ab4953d3cef.ipch
/.vs/TP TAD/v15
/.vs/tptad/v15
/.vs
/packages/Doxygen.1.8.14
